


#containerOne {
	margin-top: 30px;
}


/*upload form*/
.custom-file {
	overflow: hidden;
}


/*dataFiles table*/
#dataFiles a {
	font-weight: bold;
	color: #606a75;

}

#dataFiles a:hover {
	text-decoration: none;
	color: #343a40;
}


/*media queries*/

@media only screen and (min-width: 768px) {

	#containerOne {
		max-width: 960px;
	}

}

@media only screen and (max-width: 768px) {

	#containerOne {
		margin-top: 30px;
		max-width: 720px;
	}

}





@media only screen and (max-width: 576px) {

	.navbar {
		position: absolute;
		z-index: 100;
		width: 100vw;
	}

	#containerOne {
		margin-top: 80px;
	}
} 