


#containerOne {
	margin-top: 30px;
}

#footer {
	margin-top: 2rem;
}


/*upload form*/
.custom-file {
	overflow: hidden;
}


/*dataFiles table*/
#dataFiles a {
	font-weight: bold;
	color: #606a75;

}

#dataFiles a:hover {
	text-decoration: none;
	color: #343a40;
}

#rotateBtn{
	position: absolute;
	z-index: 10;
	left: 20px;
	top: 20px;

}


/* modal */
.modal {
	width: 100vw;
	max-width: 320px;
}






/*media queries*/


@media only screen and (min-width: 768px) {

	#containerOne {
		max-width: 960px;
	}

}


@media only screen and (min-width: 1200px) {

	#containerOne {
		max-width: 1280px;
	}

}


@media only screen and (max-width: 768px) {

	#containerOne {
		margin-top: 30px;
		max-width: 720px;
	}

	#containerOne .h1, h1{
		font-size: 1.5rem;
	}

	.navbar {
		position: absolute;
		z-index: 100;
		width: 100vw;
	}

	#containerOne {
		margin-top: 80px;
	}

	.jumbotron {
		padding: 0.8rem 0.8rem;
	}

}


